
@{
    ViewBag.Title = "Info";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>这是第三方的页面 例如java.</p>

<fieldset>
    <legend>跳回原系统</legend>
    <a href="/Java/ToMainWeb?url=http://localhost:30314/hello.aspx" target="_blank">调用主系统,实际跳转http://localhost:30314/hello.aspx</a>

</fieldset>

